<div class="container">
<h1>All Flats</h1>
  <div class="cards">
     <% @flats.each do |flat| %>
    <div class="card-category">
      <div class="card-product">
        <%= image_tag "https://source.unsplash.com/200x200/?#{flat.description}" %>
        <div class=" d-flex justify-content-around">
          <div class="card-product-infos">
            <h2><%= flat.name %></h2>
            <h4><%= flat.price_per_night %></h4>
            <p><%= flat.address %></p>
            <p><%= flat.description %></p>
            <p><%= flat.number_of_guests %></p>
            <%= link_to "", flat_path(flat), class: 'card-link'  %>
          </div>
            <div class="d-flex flex-column align-items-start  justify-content-between my-3 ">
              <div>
                <%= link_to edit_flat_path(flat) do  %>
                 <i class="fas fa-edit"></i>
                <% end %>
              </div>
              <div>
                <%= link_to flat_path(flat.id), method: :delete, data: { confirm: 'Do you want to delete?' } do %>
                <i class="fas fa-trash"></i>
                <% end %>
               </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
